<!DOCTYPE html>
<header>
  <title>Create Post</title>
  <link rel="stylesheet" href="/css/styles.css">
</header>

<body>
    {{>header}}

    <form action="/post-contact" method="POST">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="number" name="phone" placeholder="Enter your phone number">

        <button type="submit">Contact</button>
    </form>

    {{>footer}}
</body>
