<!DOCTYPE html>

<html>

<header>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</header>
<body>
    {{>header}}
        <form class="signup" action="/signup" method="POST">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="email error"></div>

            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                 <div class="password error"></div>

            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form> 

</body>
    <script>
        const form = document.querySelector('form')
        const emailError = document.querySelector('.email.error')
        const passwordError = document.querySelector('.password.error')


        form.addEventListener('submit', async(e)=>{
            e.preventDefault()
            

            // Reset errors
            emailError.textContent = ''
            passwordError.textContent = ''


            const name = form.inputName.value
            const email = form.inputEmail.value
            const password = form.inputPassword.value

            try{
                const res = await fetch('/signup',{
                    method: 'POST',
                    body:JSON.stringify({ name, email, password }),
                    headers: {'Content-Type': 'application/json'}

                });
                const data = await res.json();

                if(data.errors){
                    emailError.textContent = data.errors.email
                    passwordError.textContent = data.errors.password

                }
                location.assign('/posts')


            }
            catch(err){
                console.log(err)    
            }

        })

    </script>

</html>