<header>

    <h1>{{title}}</h1>
    <ul class="navelement">
        <li class="navlist"><a class="navhref" href="/home">Home</a></li>
        <li class="navlist"><a class="navhref" href="/about">About</a></li>
        <li class="navlist"><a class="navhref" href="/contact">Contact</a></li>
        <li style ="float:right" class="navlist"><a class="navhref" href="/contact">Login</a></li>



    </ul>

</header>