<header>

    <h1>{{title}}</h1>
    <ul class="navelement">
        <li class="navlist"><a class="navhref" href="/posts">Posts</a></li>
        <li class="navlist"><a class="navhref" href="/about">About</a></li>
        <li class="navlist"><a class="navhref" href="/contact">Contact</a></li>
        {{#if user }}
            <li style ="float:right" class="navlist"><a class="navhref" href="/post-create">Create Post</a></li>
        {{else}}
            <li style ="float:right" class="navlist"><a class="navhref" href="/signup">Sign Up</a></li>

        {{/if}}
        
    </ul>

</header>